.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-dark-transparent-2 {
  background-color: rgba(0, 0, 0, 0.9);
}

main {
  height: 85vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
  display: none;
}

.scroll-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: end;
}

.aside-shadow {
  box-shadow: 10px 0px 10px 0px rgba(66, 0, 128, 0.582);
}

.aside-shadow-none {
  box-shadow: none;
}

.nav-shadow {
  box-shadow: -10px 10px 10px 0px rgba(66, 0, 128, 0.582);
}

#home div::-webkit-scrollbar {
  display: none;
}

#personal-experience div::-webkit-scrollbar {
  display: none;
}
