.bg-dark-transparent {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-dark-transparent-2 {
  background-color: rgba(0, 0, 0, 0.9);
}

main {
  overflow-y: auto;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  display: none;
}

.aside-shadow {
  box-shadow: 10px 0px 10px 0px rgba(66, 0, 128, 0.582);
}

.aside-shadow-none {
  box-shadow: none;
}

.nav-shadow {
  box-shadow: -10px 10px 10px 0px rgba(66, 0, 128, 0.582);
}

#home div::-webkit-scrollbar {
  display: none;
}

#personal-experience div::-webkit-scrollbar {
  display: none;
}

@media (max-height: 425px) {
  #header {
    max-height: 5.5rem;
  }
  #aside {
    top: 50%;
    transform: translateY(-50%);
  }
}
