@import "tailwindcss";

body {
  background-image: url("https://res.cloudinary.com/dhaha1ozm/image/upload/v1741723108/purple-bg_opquvw.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
