#project {
  background-color: rgba(96, 35, 136, 0.4);
  transition: 1s;
}

#screenshot-viewer {
  background-color: rgba(0, 0, 0, 0.9);
}

.hover-pic:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}
